<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <title>{{ title | default: "South Island Kitchen" }}</title>
  </head>
  <body>
    <header>
      <h1>{{ title | default: "Recipe" }}</h1>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>&copy; {{ "now" | date: "%Y" }} Calum Dear. All rights reserved.</p>
    </footer>
  </body>
</html>
